@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap=Family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

header {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
}
nav {
  background-image: url(/images/banner.jpg);
  background-size: 100%;
  padding: 50px;
}
article {
  text-align: center;
  margin-top: 40px;
  margin-top: 100px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 33px;
  background-color: orangered;
  margin-top: 30px;
  color: white;
  padding: 25px;
  border-radius: 10px;
}
footer {
  background-color: rgb(51, 172, 233);
  color: white;
  text-align: center;
  padding-block: 60px;
  margin-top: 150px;
}
h1 {
  color: #2e9aca;
  font-size: 90px;
  padding-bottom: 15px;
  font-weight: bold;
}

h3 {
  color: #2e9aca;
  font-weight: bold;
}
p {
  padding: 20px;
}
#img-radius {
  border-radius: 200px;
}
.orange {
  background-color: orangered;
  color: white;
  font-size: 40px;
  padding-inline: 60px;
  padding-block: 90px;
  margin-top: 60px;
}
.aside {
  text-align: center;
  margin-top: 50px;
  border: solid 1px rgb(196, 193, 193);
  margin: 60px;
}
.a {
  width: 855px;
  margin-bottom: 40px;
}
*.aside strong {
  color: #2e9aca;
  font-weight: bold;
}

.mg {
  margin-block: 25px;
}
.bold {
  font-weight: bold;
  font-size: 90px;
  padding-bottom: 30px;
}
*.orange p {
  padding-top: 80px;
}
.bg-black {
  background-color: black;
  padding-block: 50px;
}
